@model List<VodafonNumbers.Models.Number>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<br />
<br />
<button type="button" class="btn btn-primary" onclick="window.location.href = '/Sales/Create'" id="SaleBtn">Create Sale</button>
<br />*@

<h2 style="text-align:center"> Sale Cancled Successfully </h2>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
